@font-face {
   font-family: 'Sansation_Regular';
   font-display: swap;
   src: url('file:///C:/Users/hkaja/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-15_085207/fonts/Sansation_Regular/font.ttf');
}
